body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< Updated upstream
=======

  .login-block {
    position: fixed;
    border-radius: 25px;
    min-width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: rgb(50, 115, 220, 0.5);
  }


.login-block__form {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.login-block__input {
  padding-top: 10px;
}

.create-user-block {
  position: fixed;
  border-radius: 25px;
  min-width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: rgb(50, 115, 220, 0.5);
}

.create-user-block__form {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.athlete-bio {
  position: fixed;
  border-radius: 25px;
  min-width: 400px;
  height: 450px;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: rgb(50, 115, 220, 0.5);
}

.athlete-bio__form {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);


}

>>>>>>> Stashed changes
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

